@tailwind base;
@tailwind components;
@tailwind utilities;


.create-ass{
    position: absolute;
    text-align: center;
    background: #FAFAFA;
    width: 298px;
    left: 435px;
    height: 100px;
    top: 569px;
}
.create-ass1{
    position: absolute;
    text-align: center;
    background: #FAFAFA;
    width: 298px;
    left: 786px;
    height: 100px;
    top: 569px;
}